
    <div class="community_header">
        <div class="btn fl" ui-sref="tabs.message"><img src="images/back.png">活动通知</div>
        <div class="community_header_share fr" ng-click="ta_membrane() || ta_share()">
            <img src="images/share2_03.png">
        </div>
    </div>
    <div class="community_content">
        <div class="community_content_pic">
            <img src="images/activity_notice_t_02.jpg">
        </div>
        <div class="community_content_text community_content_text_bor">
            <h2>海报创意设计</h2>
            <p>海子团队讲解想法，带你卡开拓思维和想法</p>
            <div class="community_content_bot community_share_content_bot">
                <div class="fl community_content_bot_l">
                    <div class="community_content_bot_l_pic fl">
                        <img src="images/location_07.jpg">
                    </div>
                    <p class="fl">火星时代  杏石口路81号</p>
                </div>
                <div class="fl community_content_bot_r">
                    <div class="community_content_bot_r_pic fl">
                        <img src="images/clock_10.jpg">
                    </div>
                    <p class="fl">5-15 16:00-18:30</p>
                </div>
            </div>
        </div>
    </div>
    <div class="community_share_bot">
        <h2>简介</h2>
        <p>海子团队讲解想法，带你卡开拓思维和想法</p>
        <p>地址：北京市海淀区杏石口路81号    火星时代</p>
        <p>时间：2016.5.15   16：00-18：30</p>
    </div>
    <div class="taskperformance_membrane" ng-class="membrane"></div>
    <div class="taskperformance_share" ng-class="share">
        <h4>分享到</h4>
        <ul class="ul_float">
            <li><a href=""><img src="images/taskperformance_share_03.png" /> <span>微信好友</span></a></li>
            <li><a href=""><img src="images/taskperformance_share_05.png" /> <span>新浪微博</span></a></li>
            <li><a href=""><img src="images/taskperformance_share_07.png" /> <span>朋友圈</span></a></li>
            <li><a href=""><img src="images/taskperformance_share_09.png" /> <span>获取链接</span></a></li>
        </ul>
        <a  ng-click="task_out()"><h5 class="bg_col">取消</h5></a>
    </div>

